
@import 'gridle/sass/gridle/gridle-flex';

/**
 * Set up the grid
 */
@include gridle_setup( (
	context : 12,
	gutter-width : 0px,
	direction : ltr
) );

/**
 * Set up the breakpoints
 */

@include gridle_register_state ( default , (
	min-width: 0
) );
@include gridle_register_state ( xs , (
	max-width: $break-mobile-portrait - 1
) );
@include gridle_register_state ( mobile , (
	min-width: $break-mobile-portrait,
	max-width: $break-tablet-portrait - 1
) );
@include gridle_register_state ( mobilePort , (
	query: "(max-width: #{$break-tablet-portrait - 1}) AND (orientation: portrait)"
) );
@include gridle_register_state ( mobileLand , (
	query: "(max-width: #{$break-tablet-portrait - 1}) AND (orientation: landscape)"
) );
@include gridle_register_state ( untilTablet , (
	max-width: $break-tablet-portrait - 1
) );

@include gridle_register_state ( tablet , (
	min-width: $break-tablet-portrait,
	max-width: $break-tablet-landscape
) );
@include gridle_register_state ( tabletPort , (
	query: "(min-width: #{$break-tablet-portrait}) AND (max-width: #{$break-tablet-landscape}) AND (orientation: portrait)"
) );
@include gridle_register_state ( tabletLand , (
	query: "(max-width: #{$break-tablet-portrait}) AND (max-width: #{$break-tablet-landscape}) AND (orientation: landscape)"
) );

@include gridle_register_state ( tabletUp , (
	min-width: $break-tablet-portrait,
) );

@include gridle_register_state ( desktop , (
	min-width : $break-tablet-landscape + 1,
	max-width : $break-desktop
) );

@include gridle_register_state ( xl , (
	min-width : $break-desktop + 1
) );

$griddle-sizes: default, xs, mobile, mobileLand, mobilePort, untilTablet, tablet, tabletLand, tabletPort, tabletUp, desktop, xl;

/**
 * Generate my classes and set the container
 */
@include gridle_generate_classes ( );
