@import "~slick-carousel/slick/slick.css";
@import './config/index';
@import './mixins/index';
@import './fonts/index';
@import './vendors/index';
@import './components/index';
@import './components/header';
@import './elements/index';
@import './pages/index';
@import './services/index';

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body:not(.user-is-tabbing) .tab-link:focus,
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus,
body:not(.user-is-tabbing) a:focus,
body:not(.user-is-tabbing) li:focus {
	outline: 0;
}

.bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

body {
	background: $black;
	color: $white;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

.top {
	min-height: 100vh;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}