.tab-link {
	font-size: 145%;
	cursor: pointer;
	transition: .3s;
	&:hover,
	&.tab-link-active {
		color: $green;
	}

	&.tab-link-disabled {
		color: $midder-grey;
		cursor: default;
	}

	+.tab-link {
		margin-left: 20px;
	}
}

.tab-content {
	display: none;
	&.tab-content-visible {
		display: block;
	}
}