.tile {
	>a {
		display: block;
		@include dark-hover;
	}
}

.tile__img {
	position: relative;
	height: 0;
	padding-bottom: 75%;
	background-size: cover;
	background-position: center;	
}

.tile__content {
	margin-top: 10px;
	a {
		color: #ffff;
	}
}

.tile__title {
	position: relative;
	margin: 0;
	text-transform: uppercase;
	font-size: 100%;
	font-weight: 400;
}

@include gridle_state(xs) {
	.tile {
		&:nth-of-type(n+2) {
			margin-top: 25px;
		}
	}
}

@include gridle_state(mobile) {
	.tile {
		&:nth-of-type(n+3) {
			margin-top: 35px;
		}

		&:nth-of-type(2n+1) {
			padding-right: 7.5px;
		}
		&:nth-of-type(2n+2) {
			padding-left: 7.5px;
		}
	}
}

@include gridle_state(tabletUp) {
	.tile {
		&:nth-of-type(3n+1) {
			padding-right: 15px;
		}
		&:nth-of-type(3n+2) {
			padding-right: 7.5px;
			padding-left: 7.5px;
		}
		&:nth-of-type(3n+3) {
			padding-left: 15px;
		}
		&:nth-of-type(n+4) {
			margin-top: 50px;
		}
	}
}